<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.autoexec.dao.mapper.AutoexecGlobalParamMapper">

    <insert id="insertGlobalParam" parameterType="codedriver.framework.autoexec.dto.global.param.AutoexecGlobalParamVo">
        INSERT INTO `autoexec_global_param` (`id`, `name`, `display_name`, `type`, `value`, `description`, `fcu`,
                                             `fcd`, `lcu`, `lcd`)
        VALUES (#{id}, #{name}, #{displayName}, #{type}, #{value}, #{description}, #{fcu}, now(3), #{lcu},
                now(3)) ON DUPLICATE KEY
        UPDATE `name` = #{name},
            `display_name` = #{displayName},
            `type`= #{type},
            `value` = #{value},
            `description` = #{description},
            `lcu` = #{lcu},
            `lcd` = now(3)
    </insert>

    <delete id="deleteGlobalParamById">
        DELETE
        FROM autoexec_global_param
        WHERE id = #{value}
    </delete>

    <select id="checkGlobalParamIsExistsById" resultType="java.lang.Integer">
        select count(1)
        from `autoexec_global_param`
        where `id` = #{value}
    </select>

    <select id="getGlobalParamById" resultType="codedriver.framework.autoexec.dto.global.param.AutoexecGlobalParamVo">
        select `id`,
               `name`,
               `display_name` as displayName,
               `type`,
               `value`,
               `description`,
               `fcu`,
               `fcd`,
               `lcu`,
               `lcd`
        from `autoexec_global_param`
        where `id` = #{value}
    </select>

    <sql id="searchGlobalParam">
        from autoexec_global_param
        <where>
            <if test="keyword != null and keyword != ''">
                and (`name` LIKE CONCAT('%', #{keyword}, '%')
                OR `display_name` LIKE CONCAT('%',#{keyword}, '%')
                OR `description` LIKE CONCAT('%',#{keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="getGlobalParamCount" resultType="int">
        select count(id)
        <include refid="searchGlobalParam"></include>
    </select>

    <select id="getGlobalParam" resultType="codedriver.framework.autoexec.dto.global.param.AutoexecGlobalParamVo" parameterType="codedriver.framework.autoexec.dto.global.param.AutoexecGlobalParamVo">
        select `id`,
        `name`,
        `display_name` as displayName,
        `type`,
        `value`,
        `description`,
        `fcu`,
        `fcd`,
        `lcu`,
        `lcd`
        <include refid="searchGlobalParam"></include>
        ORDER BY lcd DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getGlobalParamIdList" resultType="java.lang.Long">
        select id
        <include refid="searchGlobalParam"></include>
        ORDER BY lcd DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getGlobalParamListByIdList"
            resultType="codedriver.framework.autoexec.dto.global.param.AutoexecGlobalParamVo">
        select `id`,
        `name`,
        `display_name` as displayName,
        `type`,
        `value`,
        `description`,
        `fcu`,
        `fcd`,
        `lcu`,
        `lcd`
        from `autoexec_global_param`
        where `id` in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY `lcd` DESC
    </select>

    <select id="checkGlobalParamNameIsRepeat" resultType="int">
        select count(id)
        from autoexec_global_param
        where id != #{id}
          and name =#{name}
    </select>

    <select id="checkGlobalParamDisplayNameIsRepeat" resultType="int">
        select count(id)
        from autoexec_global_param
        where id != #{id}
          and display_name =#{displayName}
    </select>

</mapper>
