<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.autoexec.dao.mapper.AutoexecToolMapper">

    <resultMap id="autoexecToolAndScriptMap" type="codedriver.framework.autoexec.dto.AutoexecToolAndScriptVo">
        <id column="id" property="id"/>
        <result column="uk" property="uk"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="execMode" property="execMode"/>
        <result column="typeId" property="typeId"/>
        <result column="typeName" property="typeName"/>
        <association property="riskVo" javaType="codedriver.framework.autoexec.dto.AutoexecRiskVo">
            <result column="riskId" property="id"/>
            <result column="riskName" property="name"/>
            <result column="riskColor" property="color"/>
        </association>
    </resultMap>

    <select id="getToolListByIdList" parameterType="java.lang.Long" resultMap="autoexecToolAndScriptMap">
        select
        `id`,
        `uk`,
        `name`,
        'tool' as `type`,
        `exec_mode` as execMode,
        `type_id` as typeId,
        (select `name` from `autoexec_type` where `type_id` = `id`) as typeName,
        `risk_id` as riskId,
        (select `name` from `autoexec_risk` where `risk_id` = `id`) as riskName,
        (select `color` from `autoexec_risk` where `risk_id` = `id`) as riskColor
        from `autoexec_tool`
        where `is_active` = 1
        and `id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>

