<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.autoexec.dao.mapper.AutoexecScriptMapper">

    <select id="getScriptBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo">
        select
        `id`,
        `name`,
        `uk`,
        `exec_mode` as execMode,
        `type_id` as typeId,
        `risk_id` as riskId,
        (select `name` from `autoexec_type` where a.`type_id` = `id`) as type,
        (select `name` from `autoexec_risk` where a.`risk_id` = `id`) as risk,
        `fcu`,
        `fcd`
        from `autoexec_script` a
        where `id` = #{value}
    </select>

    <select id="checkScriptIsExistsById" parameterType="java.lang.Long" resultType="int">
        select `id`
        from `autoexec_script` where `id` = #{value}
    </select>

    <select id="checkScriptNameIsExists" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo"
            resultType="int">
        select count(`id`) from `autoexec_script` where `name` = #{name} and `id` != #{id}
    </select>

    <select id="checkScriptUkIsExists" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo"
            resultType="int">
        select count(`id`) from `autoexec_script` where `uk` = #{uk} and `id` != #{id}
    </select>

    <select id="checkScriptLineContentHashIsExists" parameterType="java.lang.String" resultType="int">
        select count(`hash`)
        from `autoexec_script_line_content`
        where `hash` = #{value}
    </select>

    <select id="getVersionByVersionId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        select
        `id`,
        `script_id` as scriptId,
        `version`,
        `parser`,
        `status`,
        `reviewer`,
        `is_active` as isActive,
        `config`,
        `lcu`,
        `lcd`
        from `autoexec_script_version`
        where `id` = #{value}
    </select>

    <select id="getMaxVersionByScriptId" parameterType="java.lang.Long" resultType="int">
        select
        max(`version`)
        from `autoexec_script_version`
        where `script_id` = #{value}
    </select>
    
    <select id="getVersionCountByScriptId" parameterType="java.lang.Long" resultType="int">
        select
        count(`id`)
        from `autoexec_script_version`
        where `script_id` = #{value}
    </select>

    <resultMap id="scriptVersionMap" type="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        <result column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="reviewer" property="reviewer"/>
        <result column="isActive" property="isActive"/>
        <result column="lcd" property="lcd"/>
        <association property="lcuVo" javaType="codedriver.framework.dto.UserVo">
            <result property="uuid" column="lcu"/>
            <result property="userName" column="userName"/>
        </association>
    </resultMap>

    <select id="getVersionList" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo" resultMap="scriptVersionMap">
        select
        `id`,
        `version`,
        `status`,
        `reviewer`,
        `is_active` as isActive,
        `lcu`,
        (select `user_name` from `user` where `uuid` = `lcu`) as userName,
        `lcd`
        from `autoexec_script_version`
        where `script_id` = #{scriptId}
        order by `id` desc
        <if test="needPage == true">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getActiveVersionByScriptId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        select
        `id`,
        `script_id` as scriptId,
        `version`,
        `parser`,
        `status`,
        `reviewer`,
        `is_active` as isActive,
        `lcd`,
        `lcu`
        from `autoexec_script_version`
        where `script_id` = #{value}
        and `is_active` = 1
    </select>

    <select id="getLatestVersionByScriptId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        select
        `id`,
        `script_id` as scriptId,
        `version`,
        `parser`,
        `status`,
        `reviewer`,
        `is_active` as isActive,
        `lcd`,
        `lcu`
        from `autoexec_script_version`
        where `script_id` = #{value}
        order by `id` desc
        limit 1
    </select>

    <select id="getParamListByVersionId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionParamVo">
        select
        `script_version_id` as scriptVersionId,
        `key`,
        `default_value` as defaultValue,
        `type`,
        `handler`,
        `is_required` as isRequired,
        `description`
        from `autoexec_script_version_param`
        where `script_version_id` = #{value}
    </select>

    <select id="getParamListByScriptId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionParamVo">
        select
        `script_version_id` as scriptVersionId,
        `key`,
        `default_value` as defaultValue,
        `type`,
        `handler`,
        `is_required` as isRequired,
        `description`
        from `autoexec_script_version_param` a
        join `autoexec_script_version` b on a.`script_version_id` = b.`id`
        where b.`is_active` = 1
        and b.`script_id` = #{value}
    </select>

    <select id="getLineListByVersionId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptLineVo">
        select
        a.`id`,
        a.`script_id` as scriptId,
        a.`script_version_id` as scriptVersionId,
        a.`content_hash` as contentHash,
        a.`line_number` as lineNumber,
        b.`content`
        from `autoexec_script_line` a
        left join `autoexec_script_line_content` b
        on a.`content_hash` = b.`hash`
        where a.`script_version_id` = #{value}
        order by a.`line_number`
    </select>

    <sql id="searchScriptCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                and (`name` like CONCAT('%', #{keyword}, '%') or `uk` like CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="execMode != null and execMode != ''">
                and `exec_mode` = #{execMode}
            </if>
            <if test="typeId != null">
                and `type_id` = #{typeId}
            </if>
            <if test="riskId != null">
                and `risk_id` = #{riskId}
            </if>
            <if test="isReviewing == 1">
                and `status` = 'submitted'
            </if>
        </where>
    </sql>

    <select id="searchScriptCount" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo" resultType="int">
        select
        count(`id`)
        from `autoexec_script`
        <include refid="searchScriptCondition"/>
    </select>

    <select id="searchScript" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo"
            resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo">
        select
        `id`,
        `name`,
        `uk`,
        `exec_mode` as execMode,
        (select `name` from `autoexec_type` where a.`type_id` = `id`) as type,
        (select `name` from `autoexec_risk` where a.`risk_id` = `id`) as risk,
        (select `color` from `autoexec_risk` where a.`risk_id` = `id`) as riskColor,
        (select `version` from `autoexec_script_version` where a.`id` = `script_id` and `is_active` = 1)
        as currentVersion,
        (select count(`id`) from `autoexec_script_version` where a.`id` = `script_id`) as versionCount,
        (select count(`id`) from `autoexec_script_version` where a.`id` = `script_id` and `status` = 'submitted')
        as submittedVersionCount,
        (select count(`id`) from `autoexec_script_version` where a.`id` = `script_id` and `status` = 'passed')
        as passedVersionCount
        from `autoexec_script` a
        <include refid="searchScriptCondition"/>
        order by `id` desc
        <if test="needPage == true">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <sql id="searchToolAndScriptConditionForTool">
        from
        `autoexec_tool`
        where `is_active` = 1
        <if test="keyword != null and keyword != ''">
            and (`name` like CONCAT('%', #{keyword}, '%') or `uk` like CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="execMode != null and execMode != ''">
            <choose>
                <when test="execMode == 'local'">
                    and (`exec_mode` = 'local' or `exec_mode` = 'localremote')
                </when>
                <when test="execMode == 'remote'">
                    and `exec_mode` = 'remote'
                </when>
            </choose>
        </if>
        <if test="typeIdList != null and typeIdList.size() != 0">
            and `type_id` in
            <foreach collection="typeIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="riskIdList != null and riskIdList.size() != 0">
            and `risk_id` in
            <foreach collection="riskIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <sql id="searchToolAndScriptConditionForScript">
        from
        `autoexec_script` a
        join `autoexec_script_version` b
        on a.`id` = b.`script_id`
        where b.`is_active` = 1
        <if test="keyword != null and keyword != ''">
            and (a.`name` like CONCAT('%', #{keyword}, '%') or a.`uk` like CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="execMode != null and execMode != ''">
            <choose>
                <when test="execMode == 'local'">
                    and (a.`exec_mode` = 'local' or a.`exec_mode` = 'localremote')
                </when>
                <when test="execMode == 'remote'">
                    and a.`exec_mode` = 'remote'
                </when>
            </choose>
        </if>
        <if test="typeIdList != null and typeIdList.size() != 0">
            and a.`type_id` in
            <foreach collection="typeIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="riskIdList != null and riskIdList.size() != 0">
            and a.`risk_id` in
            <foreach collection="riskIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by a.`id`
    </sql>

    <select id="searchScriptAndToolCount" parameterType="codedriver.framework.autoexec.dto.AutoexecToolAndScriptVo" resultType="int">
        select
        count(1)
        from
        (
          <if test="(type == null or type == '') or (type != null and type != '' and type == 'tool')">
              select
              `id`
              <include refid="searchToolAndScriptConditionForTool"/>
          </if>
          <if test="type == null or type == ''">
              union
          </if>
          <if test="(type == null or type == '') or (type != null and type != '' and type == 'script')">
              select
              a.`id`
              <include refid="searchToolAndScriptConditionForScript"/>
          </if>
        ) a
    </select>

    <select id="searchScriptAndTool" parameterType="codedriver.framework.autoexec.dto.AutoexecToolAndScriptVo" resultType="codedriver.framework.autoexec.dto.AutoexecToolAndScriptVo">
        select
        a.`id`,
        a.`uk`,
        a.`name`,
        a.`type`,
        a.`execMode`,
        a.`typeId`,
        a.`typeName`,
        a.`riskId`,
        a.`riskName`,
        a.`riskColor`
        from
        (
        <if test="(type == null or type == '') or (type != null and type != '' and type == 'tool')">
            select
            `id`,
            `uk`,
            `name`,
            'tool' as `type`,
            `exec_mode` as execMode,
            `type_id` as typeId,
            (select `name` from `autoexec_type` where `id` = `type_id`) as typeName,
            `risk_id` as riskId,
            (select `name` from `autoexec_risk` where `id` = `risk_id`) as riskName,
            (select `color` from `autoexec_risk` where `id` = `risk_id`) as riskColor
            <include refid="searchToolAndScriptConditionForTool"/>
        </if>
        <if test="type == null or type == ''">
            union
        </if>
        <if test="(type == null or type == '') or (type != null and type != '' and type == 'script')">
            select
            a.`id`,
            `uk`,
            `name`,
            'script' as `type`,
            `exec_mode` as execMode,
            `type_id` as typeId,
            (select `name` from `autoexec_type` where `id` = `type_id`) as typeName,
            `risk_id` as riskId,
            (select `name` from `autoexec_risk` where `id` = `risk_id`) as riskName,
            (select `color` from `autoexec_risk` where `id` = `risk_id`) as riskColor
            <include refid="searchToolAndScriptConditionForScript"/>
        </if>
        ) a
        order by a.`name`
        <if test="needPage == true">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <resultMap id="autoexecToolAndScriptMap" type="codedriver.framework.autoexec.dto.AutoexecToolAndScriptVo">
        <id column="id" property="id"/>
        <result column="uk" property="uk"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="execMode" property="execMode"/>
        <result column="typeId" property="typeId"/>
        <result column="typeName" property="typeName"/>
        <result column="riskId" property="riskId"/>
        <result column="riskName" property="riskName"/>
        <result column="riskColor" property="riskColor"/>
        <collection property="paramList" ofType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionParamVo">
            <result property="key" column="key"/>
            <result property="defaultValue" column="defaultValue"/>
            <result property="type" column="paramType"/>
            <result property="handler" column="handler"/>
            <result property="isRequired" column="isRequired"/>
            <result property="description" column="description"/>
        </collection>
    </resultMap>

    <select id="getScriptListByIdList" parameterType="java.util.List" resultMap="autoexecToolAndScriptMap">
        select
        a.`id`,
        a.`uk`,
        a.`name`,
        'script' as `type`,
        a.`exec_mode` as execMode,
        a.`type_id` as typeId,
        (select `name` from `autoexec_type` where a.`type_id` = `id`) as typeName,
        a.`risk_id` as riskId,
        (select `name` from `autoexec_risk` where a.`risk_id` = `id`) as riskName,
        (select `color` from `autoexec_risk` where a.`risk_id` = `id`) as riskColor,
        c.`key`,
        c.`default_value` as defaultValue,
        c.`type` as paramType,
        c.`handler`,
        c.`is_required` as isRequired,
        c.`description`
        from
        `autoexec_script` a
        join `autoexec_script_version` b
        on a.`id` = b.`script_id`
        left join `autoexec_script_version_param` c
        on b.`id` = c.`script_version_id`
        where b.`is_active` = 1
        and a.`id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <sql id="getScriptReference">
        from `autoexec_combop` a
        join `autoexec_combop_phase` b
        on a.`id` = b.`combop_id`
        join `autoexec_combop_phase_operation` c
        on b.`id` = c.`combop_phase_id`
        where c.`operation_id` = #{value}
        and c.`operation_type` = 'script'
    </sql>

    <select id="getReferenceCountByScriptId" parameterType="java.lang.Long" resultType="int">
        select
        count(a.`id`)
        <include refid="getScriptReference"/>
    </select>

    <select id="getReferenceListByScriptId" parameterType="java.lang.Long" resultType="codedriver.framework.autoexec.dto.combop.AutoexecCombopVo">
        select
        a.`id`,
        a.`uk`,
        a.`name`
        <include refid="getScriptReference"/>
    </select>

    <select id="getOutputParamListByScriptIdList" parameterType="java.util.List" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionParamVo">
        select
        a.`script_version_id` as scriptVersionId,
        a.`key`,
        a.`default_value` as defaultValue,
        a.`type`,
        a.`handler`
        from `autoexec_script_version_param` a
        join `autoexec_script_version` b
        on a.`script_version_id` = b.`id`
        where
        b.`is_active` = 1 and a.`type` = 'output'
        and b.`script_id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by a.`script_version_id`,a.`key`
    </select>

    <select id="getScriptAuditByScriptVersionIdAndOperate" resultType="codedriver.framework.autoexec.dto.script.AutoexecScriptAuditVo">
        select
        `id`,
        `script_id` as scriptId,
        `script_version_id` as scriptVersionId,
        `operate`,
        `content_hash` as contentHash,
        `fcu`,
        `fcd`
        from `autoexec_script_audit`
        where `script_version_id` = #{versionId}
        and `operate` = #{operate}
        order by `fcd` desc
        limit 1
    </select>

    <select id="getScriptAuditDetailByHash" parameterType="java.lang.String" resultType="java.lang.String">
        select
        `content`
        from `autoexec_script_audit_detail`
        where `hash` = #{value}
    </select>

    <update id="updateScriptBaseInfo" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo">
        update `autoexec_script` set
        `name` = #{name},
        `uk` = #{uk},
        `exec_mode` = #{execMode},
        `type_id` = #{typeId},
        `risk_id` = #{riskId}
        where `id` = #{id}
    </update>

    <update id="updateScriptVersion" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        update `autoexec_script_version` set
        <if test="parser != null">
            `parser` = #{parser},
        </if>
        <if test="status != null">
            `status` = #{status},
        </if>
        <if test="reviewer != null">
            `reviewer` = #{reviewer},
        </if>
        `lcu` = #{lcu},
        `lcd` = now(3)
        where `id` = #{id}
    </update>

    <insert id="insertScript" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVo">
        insert into `autoexec_script` (
        `id`,
        `name`,
        `uk`,
        `type_id`,
        `risk_id`,
        `exec_mode`,
        `fcu`,
        `fcd`
        )values (
        #{id},
        #{name},
        #{uk},
        #{typeId},
        #{riskId},
        #{execMode},
        #{fcu},
        now(3)
        )
    </insert>

    <insert id="insertScriptVersion" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptVersionVo">
        insert into `autoexec_script_version` (
        `id`,
        `script_id`,
        `version`,
        `parser`,
        `status`,
        `is_active`,
        `lcu`,
        `lcd`
        )values (
        #{id},
        #{scriptId},
        #{version},
        #{parser},
        #{status},
        #{isActive},
        #{lcu},
        now(3)
        )
    </insert>

    <insert id="insertScriptVersionParamList" parameterType="java.util.List">
        insert into `autoexec_script_version_param` (
        `script_version_id`,
        `key`,
        `default_value`,
        `type`,
        `handler`,
        `is_required`,
        `description`
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.scriptVersionId},
            #{item.key},
            #{item.defaultValue},
            #{item.type},
            #{item.handler},
            #{item.isRequired},
            #{item.description}
            )
        </foreach>
    </insert>

    <insert id="insertScriptLineList" parameterType="java.util.List">
        insert into `autoexec_script_line` (
        `id`,
        `script_id`,
        `script_version_id`,
        `content_hash`,
        `line_number`
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.scriptId},
            #{item.scriptVersionId},
            #{item.contentHash},
            #{item.lineNumber}
            )
        </foreach>
    </insert>

    <insert id="insertScriptLineContent" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptLineContentVo">
        insert ignore into `autoexec_script_line_content` (
        `hash`,
        `content`
        ) values (
        #{hash},
        #{content}
        )
    </insert>

    <insert id="insertScriptAudit" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptAuditVo">
        insert into `autoexec_script_audit`(
        `id`,
        `script_id`,
        `script_version_id`,
        `operate`,
        `content_hash`,
        `fcu`,
        `fcd`
        ) values (
        #{id},
        #{scriptId},
        #{scriptVersionId},
        #{operate},
        #{contentHash},
        #{fcu},
        now(3)
        )
    </insert>

    <insert id="insertScriptAuditDetail" parameterType="codedriver.framework.autoexec.dto.script.AutoexecScriptAuditContentVo">
        insert ignore into `autoexec_script_audit_detail`(
        `hash`,
        `content`
        ) values (
        #{hash},
        #{content}
        )
    </insert>

    <delete id="deleteParamByVersionId" parameterType="java.lang.Long">
        delete
        from `autoexec_script_version_param`
        where `script_version_id` = #{value}
    </delete>

    <delete id="deleteScriptLineByVersionId" parameterType="java.lang.Long">
        delete
        from `autoexec_script_line`
        where `script_version_id` = #{value}
    </delete>

</mapper>

