<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.autoexec.dao.mapper.AutoexecJobMapper">
    <select id="searchAutoexecJob" resultType="codedriver.framework.autoexec.dto.AutoexecJobVo">
        SELECT
        aj.`id`,
        aj.`name`,
        aj.`status`,
        aj.`error`,
        aj.`plan_start_time`,
        aj.`start_time`,
        aj.`end_time`,
        aj.`operation_id`,
        aj.`operation_type`,
        aj.`exec_user`,
        aj.`source`,
        aj.`thread_count`,
        aj.`config`
        FROM
        `autoexec_job` aj
        <if test="statusList != null and statusList.size() > 0 ">
            LEFT JOIN `autoexec_combop` ac ON aj.`operation_id` = ac.`id`
        </if>
        <where>
            <if test="combopName != null and combopName != ''">
                aj.name like concat('%', #{combopName}, '%')
            </if>
            <if test="statusList != null and statusList.size() > 0 ">
                aj.`status` in
                <foreach collection="statusList" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="sourceList != null and sourceList.size() > 0 ">
                aj.`source` in
                <foreach collection="sourceList" item="source" open="(" close=")" separator=",">
                    #{source}
                </foreach>
            </if>
            <if test="combopOperationTypeList != null and combopOperationTypeList.size() > 0 ">
                ac.`type_id` in
                <foreach collection="combopOperationTypeList" item="combopOperationType" open="(" close=")"
                         separator=",">
                    #{combopOperationType}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''">
                aj.startTime >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''"><![CDATA[
                aj.startTime <= #{endTime}
            ]]></if>
        </where>
    </select>

    <insert id="insertAutoexecJob" parameterType="codedriver.framework.autoexec.dto.AutoexecJobVo">
        INSERT INTO `autoexec_job` (`id`,
                                    `name`,
                                    `status`,
                                    `error`,
                                    `plan_start_time`,
                                    `operation_id`,
                                    `operation_type`,
                                    `thread_count`,
                                    `source`,
                                    `config`)
        VALUES (#{id},
                #{name},
                #{status},
                #{error},
                #{planStartTime},
                #{operationId},
                #{operationType},
                #{threadCount},
                #{source},
                #{config});
    </insert>

    <insert id="insertAutoexecJobPhase" parameterType="codedriver.framework.autoexec.dto.AutoexecJobPhaseVo">
        INSERT INTO `autoexec_job_phase` (`id`,
                                          `job_id`,
                                          `status`,
                                          `exec_user`,
                                          `exec_mode`)
        VALUES (#{id},
                #{jobId},
                #{status},
                #{execUser},
                #{execMode});
    </insert>

    <insert id="insertAutoexecJobPhaseNode" parameterType="codedriver.framework.autoexec.dto.AutoexecJobPhaseNodeVo">
        INSERT INTO `autoexec_job_phase_node` (`id`,
                                               `job_phase_id`,
                                               `host`,
                                               `port`,
                                               `status`,
                                               `proxy_id`)
        VALUES (#{id},
                #{jobPhaseId},
                #{host},
                #{port},
                #{status},
                #{proxyId});
    </insert>

    <insert id="insertAutoexecJobPhaseOperation"
            parameterType="codedriver.framework.autoexec.dto.AutoexecJobPhaseNodeVo">
        INSERT INTO `autoexec_job_phase_operation` (`id`,
                                                    `job_phase_id`,
                                                    `operation_id`,
                                                    `operation_name`,
                                                    `operation_type`,
                                                    `param_hash`)
        VALUES ('id',
                'job_phase_id',
                'operation_id',
                'operation_name',
                'operation_type',
                'param_hash');
    </insert>

    <insert id="insertAutoexecJobParamContent"
            parameterType="codedriver.framework.autoexec.dto.AutoexecJobParamContentVo">
        INSERT INTO `autoexec_job_param_content` (`hash`, `content`)
        VALUES (#{hash}, #{content});
    </insert>
</mapper>

