<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.autoexec.dao.mapper.AutoexecScenarioMapper">

    <select id="checkScenarioIsExistsById" resultType="java.lang.Integer">
        select count(1)
        from `autoexec_scenario`
        where `id` = #{value}
    </select>

    <sql id="searchScenario">
        from autoexec_scenario
        <where>
            <if test="keyword != null and keyword != ''">
                and (`name` LIKE CONCAT('%', #{keyword}, '%')
                OR `description` LIKE CONCAT('%',#{keyword}, '%'))
            </if>
            <if test="defaultValue != null and defaultValue.size() > 0">
                AND `id` IN
                <foreach collection="defaultValue" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getScenarioCount" resultType="java.lang.Integer">
        select count(id)
        <include refid="searchScenario"></include>
    </select>

    <select id="getScenarioIdList" resultType="java.lang.Long">
        select id
        <include refid="searchScenario"></include>
        ORDER BY lcd DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getScenarioListByIdList" resultType="codedriver.framework.autoexec.dto.scenario.AutoexecScenarioVo">
        select id,
        name,
        description,
        fcu,
        fcd,
        lcu,
        lcd
        from autoexec_scenario
        where id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY `lcd` DESC
    </select>

    <select id="getScenarioById" resultType="codedriver.framework.autoexec.dto.scenario.AutoexecScenarioVo">
        select id,
               name,
               description,
               fcu,
               fcd,
               lcu,
               lcd
        from autoexec_scenario
        where id = #{value}
    </select>

    <select id="checkScenarioNameIsRepeat" resultType="int"
            parameterType="codedriver.framework.autoexec.dto.scenario.AutoexecScenarioVo">
        select count(id)
        from autoexec_scenario
        where id != #{id}
          and name =#{name}
    </select>

    <select id="searchScenario" resultType="codedriver.framework.autoexec.dto.scenario.AutoexecScenarioVo">
        select id,
        name,
        description,
        fcu,
        fcd,
        lcu,
        lcd
        <include refid="searchScenario"></include>
        ORDER BY lcd DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insertScenario" parameterType="codedriver.framework.autoexec.dto.scenario.AutoexecScenarioVo">
        INSERT INTO `autoexec_scenario` (id, name, description, fcu, fcd, lcu, lcd)
        VALUES (#{id}, #{name}, #{description}, #{fcu}, now(3), #{lcu}, now(3)) ON DUPLICATE KEY
        UPDATE name = #{name},
            description = #{description},
            lcu = #{lcu},
            lcd = now(3)
    </insert>

    <delete id="deleteScenarioById">
        DELETE
        FROM autoexec_scenario
        WHERE id = #{value}
    </delete>

</mapper>
