<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright(c) $today.year NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.autoexec.dao.mapper.AutoexecCustomTemplateMapper">
    <sql id="searchCustomTemplateCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                a.name LIKE concat('%',#{keyword}, '%')
            </if>
            <if test="isActive != null">
                AND a.is_active = #{isActive}
            </if>
        </where>
    </sql>

    <select id="searchCustomTemplate" parameterType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo"
            resultType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        SELECT
        a.id,
        a.name,
        a.is_active as isActive,
        a.fcd,
        a.fcu,
        a.lcd,
        a.lcu
        FROM autoexec_customtemplate a
        <include refid="searchCustomTemplateCondition"></include>
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="searchCustomTemplateCount"
            parameterType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo"
            resultType="int">
        SELECT COUNT(1)
        FROM autoexec_customtemplate a
        <include refid="searchCustomTemplateCondition"></include>
    </select>

    <select id="getCustomTemplateById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        SELECT a.id,
               a.name,
               a.is_active as isActive,
               a.config,
               a.template,
               a.fcd,
               a.fcu,
               a.lcd,
               a.lcu
        FROM autoexec_customtemplate a
        WHERE id = #{value}
    </select>

    <select id="checkCustomTemplateIsExistsById" parameterType="java.lang.Long" resultType="int">
        select count(1)
        from `autoexec_customtemplate`
        where `id` = #{value}
    </select>

    <select id="getReferenceCountListForTool" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        select
        `customtemplate_id` as id,
        count(`id`) as referenceCountForTool
        from `autoexec_tool`
        where `customtemplate_id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by `customtemplate_id`
    </select>

    <select id="getReferenceCountListForScript" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        select
        `customtemplate_id` as id,
        count(`id`) as referenceCountForScript
        from `autoexec_script`
        where `customtemplate_id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by `customtemplate_id`
    </select>

    <update id="updateCustomTemplate" parameterType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        UPDATE autoexec_customtemplate
        SET name      = #{name},
            is_active = #{isActive},
            config    = #{config,typeHandler=CompressHandler},
            template  =#{template,typeHandler=CompressHandler},
            lcd= NOW(3),
            lcu       = #{lcu}
        WHERE id = #{id}
    </update>

    <insert id="insertCustomTemplate" parameterType="neatlogic.framework.autoexec.dto.customtemplate.CustomTemplateVo">
        INSERT INTO autoexec_customtemplate
        (id,
         name,
         is_active,
         config,
         template,
         fcd,
         fcu)
        VALUES (#{id},
                #{name},
                #{isActive},
                #{config,typeHandler=CompressHandler},
                #{template,typeHandler=CompressHandler},
                NOW(3),
                #{fcu})
    </insert>

    <delete id="deleteCustomTemplateById" parameterType="java.lang.Long">
        DELETE
        FROM autoexec_customtemplate
        WHERE id = #{value}
    </delete>

</mapper>
